<!--The content below is only a placeholder and can be replaced.-->
<div class="w3-container w3-amber w3-center">
    <h1>{{titulo}}</h1>
    <span class="w3-tiny">SERVIÇOS AUTOMOTIVOS</span>
</div>
<div class="w3-container w3-indigo w3-margin w3-center" style="width:92%;height:150px">
    Imagem
</div>
<div class="w3-container w3-row">
    <div class="w3-container w3-indigo w3-half w3-margin" style="width:40%;height:150px">
        <a href="http://www.zeta.com.br">Zeta</a>
    </div>
    <div class="w3-container w3-amber w3-half w3-margin" style="width:40%;height:150px">
        <a href="https://www.pepeoficina.com.br">PEPE</a>
    </div>
</div>
<!-- <div class="w3-container w3-indigo w3-margin w3-center" style="width:92%;height:120px">
    Imagem
</div> -->
Mensagem: {{ message | async | json }}
<footer class="w3-container w3-light-grey w3-display-bottommiddle" style="width:100%">
    <p>Produzido por Zeta Informática</p>
</footer>
<router-outlet></router-outlet>
