<!--The content below is only a placeholder and can be replaced.-->
<div class="w3-container">
    <header class="w3-amber w3-center">
        <h1>{{titulo}}</h1>
        <span class="w3-tiny">SERVIÇOS AUTOMOTIVOS</span>
    </header>
    <div class="w3-padding-64 w3-indigo w3-margin w3-center">
        Imagem
    </div>
    <div class="w3-row-padding w3-container">
        <div class="w3-col s6 w3-padding-64 w3-indigo w3-center">
            <a href="https://www.pepeoficina.com.br">Solicite um orçamento</a>        
        </div>
        <div class="w3-col s6 w3-padding-64 w3-amber w3-center">
            <a href="http://www.zeta.com.br">Acompanhe seu Pedido</a>
        </div>
    </div>
    <div class="w3-padding-32 w3-indigo w3-margin w3-center">
        Conheça a PEPE
    </div>
<!-- Mensagem: {{ message | async | json }} -->
    <footer class="w3-padding-16 w3-container w3-light-grey w3-display-bottommiddle" style="width:100%">
        <p class="w3-tiny">Produzido por Zeta Informática</p>
    </footer>
</div>
<router-outlet></router-outlet>
